<footer class="w-full text-center border-t border-gray-200 p-4 pin-b text-xs text-gray-400">
    <p>Proudly made with <a href="https://gohugo.io" class="underline hover:text-blue-400">Hugo</a> and <a href="https://tailwindcss.com" class="underline hover:text-blue-400">TailwindCSS</a></p>
</footer>
