<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
  {{- partial "head.html" . -}}
  <body class="bg-gray-100">
    <div class="max-w-4xl mx-auto bg-white">
      {{- partial "dev-size-indicator.html" . -}}
      {{- partial "header.html" . -}}
      <main class="mx-4 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "dev-parameters.html" . -}}
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
